* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

.header {
  padding: 30px 0;
}

.header__logo {
  font-size: 18px;
  font-weight: bold;
}

.header__menu--item {
  list-style: none;
  margin-left: 30px;
}

.header__menu--link {
  color: #2a2a2a;
  font-size: 14px;
  text-decoration: none;
}

.slider {
  width: 100%;
  max-height: 400px;
  height: 100vw;
}

.slider__arrows {
  width: 100%;
  position: absolute;
}

.slider__navs {
  position: relative;
}

.slider__track {
  width: 100%;
  height: 100%;
}

.slider__item {
  width: 100%;
  height: 100%;
}

.slider__item--cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: calc(100%/4);
  margin-top: 30px;
}

.services__item--head {
  position: relative;
}

.services__item--head:before {
  content: "";
  width: 100%;
  height: 2px;
  right: 0;
  display: block;
  position: absolute;
  background-color: #2a2a2a;
  z-index: -1;
}

.services__item:first-child .services__item--head:before {
  width: 50%;
}

.services__item:last-child .services__item--head:before {
  width: 50%;
  left: 0;
}

.services__item--number {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid salmon;
  color: #2a2a2a;
  font-size: 24px;
  font-weight: bold;
}

.services__item--title {
  margin-bottom: 10px;
  padding: 0 20px;
  color: #2a2a2a;
  font-size: 18px;
  text-align: center;
}

.services__item--desc {
  padding: 0 20px;
  color: gray;
  font-size: 14px;
  text-align: center;
}

.services__item:hover .services__item--number {
  background-color: salmon;
  color: #fff;
}

@media (max-width: 991px) {
  .services__item {
    width: calc(100%/2);
  }
  .services__item:nth-of-type(2) .services__item--head:before {
    width: 50%;
    left: 0;
  }
  .services__item:nth-of-type(3) .services__item--head:before {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .services__item {
    width: 100%;
  }
  .services__item--head:before {
    display: none;
  }
}

.about {
  margin-top: 50px;
}

.about__cover {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.about__cover--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text {
  margin-left: 80px;
}

.about__text--title {
  margin-bottom: 30px;
  color: #2a2a2a;
  font-size: 24px;
}

.about__text--desc {
  color: gray;
  font-size: 14px;
  line-height: 28px;
}

@media (max-width: 991px) {
  .about__text {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .about__text {
    margin-top: 30px;
    margin-left: 0;
  }
}

.contact {
  margin-top: 50px;
}

.contact__form {
  width: 100%;
}

.contact__form--label {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.contact__form--input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
}

.contact__form--send {
  margin-top: 30px;
  padding: 15px 40px;
  background-color: aqua;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  margin-top: 100px;
  padding: 20px 0;
  background-color: silver;
}
/*# sourceMappingURL=app.css.map */